@using BlazorApp1.Shared.Models
@using BlazorApp1.Client.Services
@inject IAppStateService Appstate
<div class="modal" style="display:block; color:black;" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add new Tag:</h5>
                <button @onclick="InvokeToggleModal" type="button" class="close" data-dismiss="modal" aria-label="Close" >
                    <span aria-hidden="false">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="inputTagName" class="form-label">Tag name:</label>
                        <input @bind="newTag.Name" type="text" class="form-control" id="inputTagName" aria-describedby="inputTagName" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button @onclick="()=>{Appstate.CreateTag(newTag);InvokeToggleModal();}" type="button" class="btn btn-primary" >Add Tag</button>
                <button @onclick="()=>InvokeToggleModal()" type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
            </div>
        </div>
    </div>
</div>

@code {
    public ItemTag newTag { get; set; } = new ItemTag();
    [Parameter] public Action toggleModal { get; set; }

    

    private void InvokeToggleModal()
    {
        toggleModal?.Invoke();
    }


}
