@inherits LayoutComponentBase
@using BlazorApp1.Client.Services
@using BlazorApp1.Client.Pages

<style>
    .body {
        background-color: #22262f;
    }
</style>
<div class="page">

    <AuthorizeView Roles="user">
        <Authorized>
            <NavMenu />
            <main style="height:100vh;">
                <div class="d-flex flex-row h-100">
                    @Body
                </div>
            </main>
        </Authorized>
        <NotAuthorized>
            <LoginPage></LoginPage>
        </NotAuthorized>
    </AuthorizeView>


</div>
